$orange: #FF5733;
@font-face {
  font-family: 'Sucrose Bold Two';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
}

// ~~~~ H E A D E R ~~~~~~~~~~~~~~
.header {
  width: 100%;
  height: 70px;
  background-color: $orange;
  margin-top: -30px;

  .exercise-name {
    font-family: "Sucrose Bold Two";
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
  }
}

// ~~~~ M A I N ~~~~~~~~~~~~~~
.main {
  width: 100%;
  height: 500px;

  button {
    background-color: orange;
    border: none;
    color: white;
    font-size: 20px;
    font-family: "Arial Narrow";
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 4px solid darkorange;
    border-radius: 10px;
    outline: none;
  }

  button:hover {
    background-color: darkorange;
    cursor: pointer;
  }

  input {
    border: 4px solid darkorange;
    border-radius: 4px;
    height: 35px;
    font-size: 20px;
    outline: none;
  }

  .container {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;

    .menu-fields {

      display: grid;
      grid-template-columns: 1fr 35%;
      background-color: orange;

      .menu-fields-buttons {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;

      }
    }

    .menu-buttons {
      background-color: orange;
      text-align: center;
    }
  }
}

// ~~~~ F O O T E R ~~~~~~~~~~~~~~
.icon {
  width: 100px;
  height: 100px;
  text-align: left;
}

.footer {
  position: relative;
  margin-top: 20px;
  height: 80px;
  color: #000;
  text-align: center;
}

// ~~~~ M O D A L   W I N D O W ~~~~~~~~~~~~~~
.modal-window-instruction,
.modal-window-words {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: -50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-window-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */


    .content-block-words {
      width: 100%;
      height: 350px;
      overflow: auto;
    }
  }


}

// ~~~~ W I N D O W    W O R D S   C L A S S E S ~~~~~~~~~~~~~~
// ~~~~ W I N D O W    W O R D S   I N S T RU C T I O N ~~~~~~~~~~~~~~

